
# Archivos de Python compilados y caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
celerybeat-schedule
celerybeat.pid


# Archivos de configuración de IDEs y herramientas
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de test
.coverage
.tox/
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*,cover
*.log
.hypothesis/

# Paquetes de Python
*.egg-info/
.installed.cfg
*.egg
*.manifest
MANIFEST

# Instaladores
pip-log.txt
pip-delete-this-directory.txt

# Documentación
build/
docs/_build/

# Archivos de Notebooks Jupyter
.ipynb_checkpoints

# Sass
.sass-cache/
.node-sass/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # Si trabajas solo y no en equipo, o si prefieres no versionarlo
yarn.lock # Igual que package-lock.json

# Archivos de pytest
pytestdebug.log

# Archivos de mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Archivos de PyBuilder
target/

# Archivos de builds de wheels
build/
dist/